@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@font-face {
    font-family: DMSans-Regular;
    src: url(assets/fonts/static/DMSans-Regular.ttf);
}
body {

    background-color: lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: unset;
    margin-right: unset;

}

.container {

    width: 350px;
    height: 100vh;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: DMSans-Regular;
    font-weight: 400;
    overflow-y: auto;
    overflow-x: hidden;
/* just to make the container border more visible */
    /* border: solid;  */
    border-radius: 8px;
    gap: 16px;

} 

#highlight {
    color: hsl(39, 100%, 71%);
}

#italic {
    font-style: italic;
}

h1 {
    font-size: 45px;
}

#desktopBr {
    display: none;
}

.div1 {

    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
    padding-left: 30px;
    padding-right: 30px;
}

#fiveStars {
    width: 170px;
    margin-top: -5%;
}

.div5 {

    height: 200px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    padding-left: 15px;
    margin-top: 0px;
}

#multiplePlatforms {

   width: 350px; 
   height: 75px;
}

.div6 {

    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    padding-top: 0px;
    font-size: 20px;

}

#consistentSchedule {

    width: 200px;
    margin-bottom: -7%;
}

.div3 {

    border-radius: 10px;
    background-color: hsl(254, 88%, 90%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    font-size: 2.3vh;
}

.div3 h2 {

    margin-bottom: 5px;
}
#schedulePost {

    width: 320px;
    margin: 15px;
}

.div8 {

    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 2.3vh;
}

#growthFollower {

    width: 250px;
}

.div7 {

    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
}

.div7 h1 {
    margin-bottom: 5px;
}

#audienceGrowth {
    margin-top: 20px;
    width: 200px;
}

.div2 {
    border-radius: 10px;
    background-color: hsl(31, 66%, 93%);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}

#createPost {
    width: 200px;
}

#special-word {

    font-style: italic;
    color: hsl(256, 67%, 59%);

}

.div4 {
    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}
.div4 h2 {
    font-size: 30px;
    margin-top: 0px;
}

#aiContent {
    width: 250px;
    margin-bottom: 10px;
}

/* last this is footer */
footer {
    font-size: 11px;
    text-align: center;
    background-color: rgba(119, 114, 124, 0.541);
    height: 20px;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2px;
}

footer a {
    color: hsl(256, 67%, 59%);
}

/* desktop display display */

@media screen and (min-width: 1024px) {


body {

    background-color: lightgrey;
    display: auto;
    flex-direction: auto;
    margin: 0;

}

.container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 15px;
    font-family: DMSans-Regular;
    font-weight: 400;
    width: 100%;
    max-width: 1000px;
    height: 780px;
    margin: 0 auto;
    margin-top: 5vh;
    overflow: hidden;

/* just to make the container border more visible */
    /* border: solid; */

}

/* special words modification */

#highlight {
    color: hsl(39, 100%, 71%);
}

#italic {
    font-style: italic;
}

h1 {
    font-size: 45px;
}

#desktopBr {
    display: inline;
}

.div1 {

    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fiveStars {
    height: 25px;
    margin-top: -5%;
}

.div2 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 10px;
    background-color: hsl(31, 66%, 93%);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;

}

#createPost {
    width: 200px;
}

#special-word {

    font-style: italic;
    color: hsl(256, 67%, 59%);

}

.div3 {
    grid-row: span 4 / span 4;
    grid-column-start: 4;
    border-radius: 10px;
    background-color: hsl(254, 88%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    overflow: hidden;
    font-size: 17px;
    text-align: left;
}


#schedulePost {
    width: 300px;
    margin-left: 65%;
    padding-left: 30px;
    padding-bottom: 15px;
}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 4;
    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin-bottom: auto;
}
.div4 h2 {
    font-size: 30px;
    margin-top: auto;
}

#aiContent {
    width: 200px;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    padding: 25px;
}

h3 {
    font-size: 25px;

}

#multiplePlatforms {
    width: 300px;

}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    border-radius: 10px;
    background-color: hsl(39, 100%, 71%);
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
}

.div6 h3 {
    margin-top: 0px;
}

#consistentSchedule {
    width: 200px;
    margin-bottom: -50%;
}

.div7 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 5;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
}

#audienceGrowth {
    width: 200px;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    border-radius: 10px;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: white;
    font-size:  20px;
    flex-direction: row;
    text-align: left;
}

#growthFollower {
    width: 230px;
}

}

